Content_Automation_for_WordPress___AlexK1919.json
{
  "name": "Content Automation for WordPress - AlexK1919",
  "nodes": [
    {
      "parameters": {
        "path": "create-wordpress-post",
        "formTitle": "Create a WordPress post with AI",
        "formDescription": "Fill this form with the required information to create a draft post on WordPress",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Keywords (comma-separated)",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of chapters",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  },
                  {
                    "option": "6"
                  },
                  {
                    "option": "7"
                  },
                  {
                    "option": "8"
                  },
                  {
                    "option": "9"
                  },
                  {
                    "option": "10"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Max words count",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a1833fd-f49c-45c0-a10b-045e52dd5cc7",
      "name": "Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        280,
        60
      ],
      "webhookId": "4b937814-e829-4df7-aaba-31192babf7e1",
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Data check",
        "height": 652,
        "width": 301,
        "color": 4
      },
      "id": "0cae1320-b4b3-46e4-9252-00a1188f2ce0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Checks that the data returned by OpenAI is correct",
        "height": 80,
        "width": 272.8190508599808,
        "color": 7
      },
      "id": "7882dcc0-208d-47ac-8f7b-400555c0d643",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The article is posted as a draft on WordPress",
        "height": 80,
        "width": 254.77269221373095,
        "color": 7
      },
      "id": "d0b9ce38-ab34-4425-a756-c0d3657fbbb5",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The image is generated with Leonardo.ai, uploaded to WordPress, and then connected to the post as its featured image",
        "height": 80,
        "width": 517.9195082760601,
        "color": 7
      },
      "id": "6a2a1148-df5e-4973-89fa-67b66e420ca6",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3000,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Starting from the given keywords, generates the article title, subtitle, chapters, and image prompt",
        "height": 80,
        "width": 287.370178643191,
        "color": 7
      },
      "id": "60fbac18-1aff-409f-a266-0ad0ba5efc07",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        740,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Article structure",
        "height": 651,
        "width": 340,
        "color": 4
      },
      "id": "e324638b-bc34-4887-bc8f-c6ed1a8046dc",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        740,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The user triggers the post creation",
        "height": 80,
        "width": 199.7721486302032,
        "color": 7
      },
      "id": "7722b58b-9abd-4aa0-88ef-77235ec2d773",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Final confirmation to the user",
        "height": 80,
        "width": 263,
        "color": 7
      },
      "id": "61a70c39-8b00-481c-aaea-8b3fe7f43176",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nWikipedia is used to write the article",
        "height": 295,
        "width": 340,
        "color": 7
      },
      "id": "82ad4091-e027-47b6-9e8b-a9efab99a3b1",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        740,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a433b0f-9957-4b64-ad81-359ab5e521d5",
              "name": "wordpress_url",
              "type": "string",
              "value": "={{ $json.wordpress_url }}"
            },
            {
              "id": "ec5430e3-92c5-46e4-8c2c-c87291680892",
              "name": "keywords",
              "type": "string",
              "value": "={{ $json.keywords }}"
            },
            {
              "id": "5defb0a2-d921-4909-b10d-da59e1768496",
              "name": "number_chapters",
              "type": "number",
              "value": "={{ $json.number_chapters }}"
            },
            {
              "id": "230ebd0b-73c2-4265-9b3c-57af7fbc48c8",
              "name": "max_words",
              "type": "number",
              "value": "={{ $json.max_words }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c6b621b1-7d49-437a-b926-a5a97d154380",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        540,
        60
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "## Settings",
        "height": 971,
        "width": 207,
        "color": 3
      },
      "id": "1f46410f-ca6d-46c5-89b7-2d39f433bde2",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Set the URL of your WordPress here",
        "height": 80,
        "width": 179.37633247508526,
        "color": 7
      },
      "id": "2783fc79-a3e6-4fac-b496-d14ed2b4033d",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "9c8c53ea-6079-48da-9d6e-dd527167b123",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.title }}",
              "rightValue": ""
            },
            {
              "id": "a7fabfe1-3539-453a-93d9-8d6d395c3de4",
              "operator": {
                "type": "array",
                "operation": "lengthGte",
                "rightType": "number"
              },
              "leftValue": "={{ $json.message.content.chapters }}",
              "rightValue": "={{ 1 }}"
            },
            {
              "id": "a687081e-24e2-423c-a2da-b7c18baf0715",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.subtitle }}",
              "rightValue": ""
            },
            {
              "id": "0a435a69-3699-4b98-b46f-40954c7a7816",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.introduction }}",
              "rightValue": ""
            },
            {
              "id": "1a440144-21f3-42bd-9222-774bd564f3ef",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.conclusions }}",
              "rightValue": ""
            },
            {
              "id": "834ce92d-b1e9-48ef-ae63-1d0841c900b5",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.content.imagePrompt }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a24fce0d-9777-4d94-9e9a-c3f2e222bddf",
      "name": "Check data consistency",
      "type": "n8n-nodes-base.if",
      "position": [
        1200,
        60
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.chapters",
        "options": {}
      },
      "id": "84033c75-88d2-440c-a6c8-5af0d1f57175",
      "name": "Split out chapters",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1500,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "7dccc4e9-6524-4373-8abd-23a8ecaa3a2e",
      "name": "Merge chapters title and text",
      "type": "n8n-nodes-base.merge",
      "position": [
        2200,
        320
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "let article = \"\";\n\n// Introduction\narticle += $('Create post title and structure').first().json.message.content.introduction;\narticle += \"<br><br>\";\n\nfor (const item of $input.all()) {\n  article += \"<strong>\" + item.json.title + \"</strong>\";\n  article += \"<br><br>\";\n  article += item.json.message.content;\n  article += \"<br><br>\";\n}\n\n// Conclusions\narticle += \"<strong>Conclusions</strong>\";\narticle += \"<br><br>\";\narticle += $('Create post title and structure').first().json.message.content.conclusions;\n\n\nreturn [\n  {\n    \"article\": article\n  }\n];"
      },
      "id": "5000c193-0e8a-4c60-8165-e001f170d89d",
      "name": "Final article text",
      "type": "n8n-nodes-base.code",
      "position": [
        2420,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "title": "={{ $('Create post title and structure').all()[0].json.message.content.title }}",
        "additionalFields": {
          "content": "={{ $json.article }}",
          "status": "draft"
        }
      },
      "id": "b0ceb665-9bd9-47c1-b9c5-7ab4fb5f3880",
      "name": "Post on Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        2680,
        60
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "c25CdWIqTiS9QIu9",
          "name": "KBB Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.wordpress_url }}/wp-json/wp/v2/media ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $('Post on Wordpress').item.json.title.raw }}.jpg\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "9ff3dc04-0916-498b-ae64-fe52bb30ea0d",
      "name": "Upload media",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3240,
        540
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "c25CdWIqTiS9QIu9",
          "name": "KBB Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Settings').first().json.wordpress_url }}/wp-json/wp/v2/posts/{{ $('Post on Wordpress').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "16e14c57-0c0d-44d5-abed-0899de6a236b",
      "name": "Set image ID for the post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3440,
        540
      ],
      "typeVersion": 4.1,
      "credentials": {
        "wordpressApi": {
          "id": "c25CdWIqTiS9QIu9",
          "name": "KBB Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    'formSubmittedText': 'There was a problem creating the article, please refresh the form and try again!'\n}\n\n",
        "options": {}
      },
      "id": "9970b23f-6ec1-4990-a8dd-2f8e80b5ef53",
      "name": "Respond: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1160,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Splits out chapter contents from the previous node",
        "height": 80,
        "width": 206,
        "color": 7
      },
      "id": "7721daef-fe6f-4f4d-a973-e768220a486f",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Writes the text for each chapter",
        "height": 80,
        "width": 287.370178643191,
        "color": 7
      },
      "id": "b14f5d4c-cea6-4a23-b53d-dc17505faa95",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Merges the content and prepare it before sending it to WordPress",
        "height": 80,
        "width": 308,
        "color": 7
      },
      "id": "2a5bc98e-f885-494c-b53b-434b6158344c",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2140,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "1637dba1-8806-4eb0-a1fc-e77c5f61c797",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        780,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Write the title, the subtitle, the chapters details, the introduction, the conclusions, and an image prompt for a SEO-friendly article about these topics:\n{{ $json.keywords }}.\n\nInstructions:\n- Place the article title in a JSON field called `title`\n- Place the subtitle in a JSON field called `subtitle`\n- Place the introduction in a JSON field called `introduction`\n- In the introduction introduce the topic that is then explored in depth in the rest of the text\n- The introduction should be around 60 words\n- Place the conclusions in a JSON field called `conclusions`\n- The conclusions should be around 60 words\n- Use the conclusions to sum all said in the article and offer a conclusion to the reader\n- The image prompt will be used to produce a photographic cover image for the article and should depict the topics discussed in the article\n- Place the image prompt in a JSON field called `imagePrompt`\n- There should be {{ $json.number_chapters.toString() }} chapters.\n- For each chapter provide a title and an exaustive prompt that will be used to write the chapter text.\n- Place the chapters in an array field called `chapters`\n- For each chapter provide the fields `title` and `prompt`\n- The chapters should follow a logical flow and not repeat the same concepts.\n- The chapters should be one related to the other and not isolated blocks of text. The text should be fluent and folow a linear logic.\n- Don't start the chapters with \"Chapter 1\", \"Chapter 2\", \"Chapter 3\"... just write the title of the chapter\n- For the title and the capthers' titles don't use colons (`:`)\n- For the text, use HTML for formatting, but limited to bold, italic and lists.\n- Don't use markdown for formatting.\n- Always search on Wikipedia for useful information or verify the accuracy of what you write.\n- Never mention it if you don't find information on Wikipedia or the web\n- Go deep in the topic you treat, don't just throw some superficial info"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "maxTokens": 3500
        }
      },
      "id": "440b4069-5a94-4cf2-8bc1-3194717def1c",
      "name": "Create post title and structure",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        780,
        60
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ysxujEYFiY5ozRTS",
          "name": "AlexK OpenAi Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Write a chapter for the article: {{ $('Create post title and structure').item.json.message.content.title }}, {{ $('Create post title and structure').item.json.message.content.subtitle  }}, that talks about {{ $('Settings').item.json[\"keywords\"] }}\n\nThis is the prompt for the chapter titled {{ $json.title }}: {{ $json.prompt }}.\n\nGuidelines:\n- Just return the plain text for each chapter (no JSON structure).\n- Don't use markdown for formatting.\n- Use HTML for formatting, but limited to bold, italic and lists.\n- Don't add internal titles or headings.\n- The length of each chapther should be around {{ Math.round(($('Settings').item.json.max_words - 120)/ $('Settings').item.json.number_chapters) }} words long\n- Go deep in the topic you treat, don't just throw some superficial info\n{{ $itemIndex > 0 ? \"- The previous chapter talks about \" + $input.all()[$itemIndex-1].json.title : \"\" }}\n{{ $itemIndex > 0 ? \"- The promt for the previous chapter is \" + $input.all()[$itemIndex-1].json.prompt : \"\" }}\n{{ $itemIndex < $input.all().length ? \"- The following chapter will talk about \" + $input.all()[$itemIndex+1].json.title: \"\" }}\n{{ $itemIndex < $input.all().length ? \"- The prompt for the following chapter is \" + $input.all()[$itemIndex+1].json.prompt : \"\" }}\n- Consider the previous and following chapters what writing the text for this chapter. The text must be coherent with the previous and following chapters.\n- This chapter should not repeat the concepts already exposed in the previous chapter.\n- This chapter is a part of a larger article so don't include an introduction or conclusions. This chapter should merge with the rest of the article.\n"
            }
          ]
        },
        "options": {
          "maxTokens": 3500
        }
      },
      "id": "fc62e075-16e2-43e0-ba3e-6a488ab83c04",
      "name": "Create chapters text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1780,
        60
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ysxujEYFiY5ozRTS",
          "name": "AlexK OpenAi Key"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Ql9TGAzZCSdSqrHvkZLcsBPoNMAjNpPVsELkumP2heM",
          "mode": "list",
          "cachedResultName": "AlexK1919 Content Manager",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ql9TGAzZCSdSqrHvkZLcsBPoNMAjNpPVsELkumP2heM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 673017698,
          "mode": "list",
          "cachedResultName": "Blog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ql9TGAzZCSdSqrHvkZLcsBPoNMAjNpPVsELkumP2heM/edit#gid=673017698"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        280,
        360
      ],
      "id": "297d20de-bb0a-4c69-a765-b32bf26c5c4e",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "qrn9YcLkT3BSPIPA",
          "name": "AlexK191 Google Sheets Trigger account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# AlexK1919 \n![Alex Kim](https://media.licdn.com/dms/image/v2/D5603AQFOYMkqCPl6Sw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1718309808352?e=1736985600&v=beta&t=pQKm7lQfUU1ytuC2Gq1PRxNY-XmROFWbo-BjzUPxWOs)\n\n#### I’m Alex Kim, an AI-Native Workflow Automation Architect Building Solutions to Optimize your Personal and Professional Life.\n\n\n### About Me\nhttps://beacons.ai/alexk1919\n\n\n### Products Used \n[OpenAI](https://openai.com)\n[Leonardo AI](https://leonardo.ai/)\n[WordPress](https://wordpress.org/)\n\n\n### Credit\nOriginal workflow created by [Giulio](https://n8n.io/creators/gandreini/)\n\nI modified it to work with Google Sheets and Leonardo.ai along with some other modifications.",
        "height": 970,
        "width": 250,
        "color": 6
      },
      "id": "1eaa9f5a-9513-45fe-9810-60d244150ba0",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        280,
        660
      ],
      "id": "5eb42cee-64b1-49c7-91bb-1d0650f64b95",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4cbee354-1715-4699-ae48-e20ac8a2d461",
              "name": "keywords",
              "value": "wordpress ai content generator",
              "type": "string"
            },
            {
              "id": "bff52435-8065-4dad-a54c-95c6e1af3c44",
              "name": "number_chapters",
              "value": "4",
              "type": "string"
            },
            {
              "id": "801b10ef-4ef4-4ed2-bed8-bcd94b758291",
              "name": "max_words",
              "value": "3000",
              "type": "string"
            },
            {
              "id": "063e6de1-4df8-4137-9ac9-dce8110605b9",
              "name": "wordpress_url",
              "value": "keneticbb.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        660
      ],
      "id": "d7f036b8-4032-44cb-b9b3-12adbab7fa1d",
      "name": "Manual Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bcb4bc6a-5ea6-4054-b225-8475b44f07fe",
              "name": "prompt",
              "value": "={{ $json.data[0].message.content['image prompt'] }}",
              "type": "string"
            },
            {
              "id": "56c8f20d-d9d9-4be7-ac2a-38df6ffdd722",
              "name": "model",
              "value": "6b645e3a-d64f-4341-a6d8-7a3690fbf042",
              "type": "string"
            },
            {
              "id": "f7475a49-a248-46bd-8d5b-ac8cea44ed5c",
              "name": "style",
              "value": "={{ $json.data[0].message.content.style }}",
              "type": "string"
            },
            {
              "id": "e796d110-c95a-4893-813b-00c36706d96c",
              "name": "lighting",
              "value": "={{ $json.data[0].message.content.lighting }}",
              "type": "string"
            },
            {
              "id": "c40df65d-652d-42f3-811c-2ce35098ff51",
              "name": "angle",
              "value": "={{ $json.data[0].message.content.angle }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f7fcb5c6-3040-44d6-8bc0-dbdf5027f7eb",
      "name": "Prompt Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3640,
        60
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "e98fa8ac-ad70-43e4-94a2-9b594f907d5c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3440,
        300
      ],
      "webhookId": "12faf8f0-a871-4660-8b34-fa392330337b"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a successful image prompt generator. Consider the photo style and angle of the camera as well as the lighting that is suitable for the image. Remove all symbols or hashtags from the final image prompt. Make sure there is no text in the final image.",
              "role": "system"
            },
            {
              "content": "OUTPUT FORMAT: \nimage prompt\nshort image prompt\nstyle\nlighting\nangle",
              "role": "system"
            },
            {
              "content": "=This is the full content for the featured image:\nTitle: {{ $json.title.rendered }}\nContent: {{ $json.content.raw }}",
              "role": "system"
            },
            {
              "content": "=Keep in mind the following Brand Guidelines when creating the image prompt:\nNiche: Adults 20-50 years old\nStyle: \nInspiration: ",
              "role": "assistant"
            },
            {
              "content": "=Generate a featured image prompt to be used on Leonardo.ai for blog post. Consider the concept of the blog post and a concept that will resonate with the audience.\n\nInclude a short image prompt that is less than 200 characters in length."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "07dcaebf-4e8d-48a7-b4ac-fc037a2d05fd",
      "name": "P1 Image Prompt",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3040,
        60
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ysxujEYFiY5ozRTS",
          "name": "AlexK OpenAi Key"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "c6e91910-a05c-4d14-8906-1c181e5f858a",
      "name": "Leo - Get imageId",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        300
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "pJguwbEclNjPgU6F",
          "name": "Leo Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alchemy\": true,\n  \"width\": 1024,\n  \"height\": 768,\n  \"modelId\": \"6b645e3a-d64f-4341-a6d8-7a3690fbf042\",\n  \"num_images\": 1,\n  \"presetStyle\": \"DYNAMIC\",\n  \"prompt\": \"{{ $json.body.promptGeneration.prompt }}; Style: {{ $('Prompt Settings').item.json.data[0].message.content.style }};  Lighting: {{ $('Prompt Settings').item.json.data[0].message.content.lighting }}; Angle: {{ $('Prompt Settings').item.json.data[0].message.content.angle }}; Use the rule of thirds, leading lines, & balance. DO NOT INCLUDE ANY WORDS OR LABELS.\",\n  \"guidance_scale\": 7,\n  \"highResolution\": true,\n  \"promptMagic\": false,\n  \"promptMagicStrength\": 0.5,\n  \"promptMagicVersion\": \"v3\",\n  \"public\": false,\n  \"ultra\": false,\n  \"photoReal\": false,\n  \"negative_prompt\": \"\"\n} ",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "3f8d57af-aee0-43b5-862e-95ab0654c43f",
      "name": "Leo - Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        300
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "pJguwbEclNjPgU6F",
          "name": "Leo Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nUser is notified to try again since some data is missing",
        "height": 295,
        "width": 300,
        "color": 7
      },
      "id": "e4d07eaf-5606-432b-94b2-cd66ca58a19b",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## User Form Trigger",
        "height": 351,
        "color": 7
      },
      "id": "7d7907ae-c64c-4a14-a497-6107aa22c214",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Google Sheets Trigger",
        "height": 311,
        "color": 7
      },
      "id": "73521386-7164-481c-9af8-346368650f7e",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Manual Trigger",
        "height": 291,
        "color": 7
      },
      "id": "d3bb1ffe-3400-4bd8-9dd8-16d01fc5784c",
      "name": "Sticky Note24",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Chapters Text",
        "height": 980,
        "width": 360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        -120
      ],
      "typeVersion": 1,
      "id": "3f12cd40-f0d2-4d28-af3d-4069e5d075d1",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "## Content Preparation",
        "height": 980,
        "width": 460,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2140,
        -120
      ],
      "typeVersion": 1,
      "id": "2d519b6e-1175-4955-ada3-5e76afb8e0fe",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "## Chapters Split",
        "height": 980,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        -120
      ],
      "typeVersion": 1,
      "id": "ae0427e3-92bf-4cbe-9278-b0e572957e60",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "## Draft on WordPress",
        "height": 980,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        -120
      ],
      "typeVersion": 1,
      "id": "be5a7681-fa55-445a-a81f-9d7e7383467f",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "## Featured Image",
        "height": 980,
        "width": 800,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3000,
        -120
      ],
      "typeVersion": 1,
      "id": "1c02ca05-d4da-4e91-8f20-44b52090282c",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "b838d36a-37b4-4f8f-8a7b-d0a704d7491c",
      "name": "Aggregate Prompt",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3440,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/prompt/improve",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.data[0].message.content['short image prompt'] }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "5a5a3f47-732e-4631-8134-9c8fb07bebbc",
      "name": "Leo - Improve Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        300
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "pJguwbEclNjPgU6F",
          "name": "Leo Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.generations_by_pk.generated_images[0].url }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        540
      ],
      "id": "cacfa116-cba7-4898-9ac6-794b8744d5f9",
      "name": "Download Image"
    },
    {
      "parameters": {
        "content": "## Post Confirmation",
        "height": 980,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3840,
        -120
      ],
      "typeVersion": 1,
      "id": "6491a6ce-43aa-423f-81d4-e20ac7c6c20b",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3880,
        260
      ],
      "id": "dee9f8fe-487c-4026-afaf-1193937845ea",
      "name": "Telegram",
      "disabled": true
    },
    {
      "parameters": {
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3880,
        60
      ],
      "id": "bad2771b-412c-4a86-947b-aff8faff8fb5",
      "name": "Slack",
      "webhookId": "79d3c777-5fb1-410c-b7ac-fd22d93dd1e9",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3880,
        460
      ],
      "id": "afea8928-fb32-4d63-abb4-e70a630944f2",
      "name": "Send Email",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"formSubmittedText\": \"The article {{ $json.title.rendered }} was correctly created as a draft on WordPress!\"\n}",
        "options": {}
      },
      "id": "0ba818ec-d5b2-49fc-8d2e-565a8c493207",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        3880,
        660
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Form": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Create post title and structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Create post title and structure",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Set image ID for the post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post on Wordpress": {
      "main": [
        [
          {
            "node": "P1 Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final article text": {
      "main": [
        [
          {
            "node": "Post on Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out chapters": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 1
          },
          {
            "node": "Create chapters text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create chapters text": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check data consistency": {
      "main": [
        [
          {
            "node": "Split out chapters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set image ID for the post": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge chapters title and text": {
      "main": [
        [
          {
            "node": "Final article text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post title and structure": {
      "main": [
        [
          {
            "node": "Check data consistency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Fields": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Manual Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Settings": {
      "main": [
        [
          {
            "node": "Leo - Improve Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Leo - Get imageId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1 Image Prompt": {
      "main": [
        [
          {
            "node": "Aggregate Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leo - Generate Image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Prompt": {
      "main": [
        [
          {
            "node": "Prompt Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leo - Improve Prompt": {
      "main": [
        [
          {
            "node": "Leo - Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leo - Get imageId": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    },
    "Slack": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d8ff037-6f8f-47e7-b443-746dc841cbef",
  "meta": {
    "instanceId": "d868e3d040e7bda892c81b17cf446053ea25d2556fcef89cbe19dd61a3e876e9"
  },
  "id": "erHeEVn3NjyNDLYV",
  "tags": [
    {
      "createdAt": "2024-11-21T02:21:58.924Z",
      "updatedAt": "2024-11-21T02:21:58.924Z",
      "id": "RvsWAoHG54AyOSfD",
      "name": "AI"
    },
    {
      "createdAt": "2024-11-15T04:05:20.872Z",
      "updatedAt": "2024-11-15T04:05:20.872Z",
      "id": "QsH2EXuw2e7YCv0K",
      "name": "OpenAI"
    },
    {
      "createdAt": "2024-12-02T19:28:00.866Z",
      "updatedAt": "2024-12-02T19:28:00.866Z",
      "id": "aSZi868LRqRL1S3G",
      "name": "WordPress"
    }
  ]
}